

<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <section id="services" class="services section-bg">
      <hr><br>         
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="section-title justify-content-center">
            <h2>★★★ Vinos Argentina ★★★ </h2>
          </div>
            <div class="col-md-10 col-lg-8 col-xl-7">
              <br><br>
                 <h3> ¿Quienes somos? </h3>
                <p center><b>Somos Vinos Argentina, una empresa dedicada a la comercialización de vinos de calidad a través de internet. Nuestra sede está en Córdoba, Argentina, pero realizamos envíos a todo el país.</b><hr>
                    <p> Nuestro objetivo es ofrecer a nuestros clientes una experiencia única y personalizada, donde puedan elegir entre una amplia variedad de vinos de diferentes regiones, cepas y bodegas. Queremos acercar la cultura del vino a todos los argentinos, brindando información, consejos y recomendaciones sobre cada producto.</p>
                    <P>Contamos con el apoyo de bodegas amigas, que nos proveen de vinos de excelente calidad y precio. Algunas de ellas son: Bodega Catena Zapata, Bodega Norton, Bodega Zuccardi, Bodega Salentein y Bodega Trapiche. Puedes conocer más sobre ellas en nuestra sección de bodegas.</P>
                    <br>
                    <h3> Contactese con nostros</h3>
                    <p>Para contactarnos, puedes escribirnos a nuestro correo electrónico: vinosargentina@gmail.com o llamarnos a nuestro teléfono: +54 9 351 123 4567. También puedes seguirnos en nuestras redes sociales: Facebook, Instagram y Twitter.
                    <br>
                    <p><b>Estamos a tu disposición para resolver cualquier duda o consulta que tengas. Te invitamos a explorar nuestro catálogo de vinos y a disfrutar de una experiencia inolvidable. ¡Salud! 🍷</b></p>
            </div>
        </div>
    </div>
    <br>
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-alarm"></i></div>
                  <h4>Variedad</h4>
                  <p>En cuestión de segundos te aseguramos una selección de vinos sin demoras, elegimos las mejores etiquetas para que disfrutes de tus favoritos en el menor tiempo posible.</p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-geo-alt"></i></div>
                  <h4>Calidad</h4>
                  <p>Contamos con una amplia variedad de vinos donde podrás explorar diferentes regiones y estilos. Además, te ofrecemos información detallada sobre cada vino, incluyendo su origen, añada y notas de cata.</p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-journal-check"></i></div>
                  <h4>Comodidad</h4>
                  <p>Solamente con un click, tenés la posibilidad de conseguir los mejores vinos. <strong>Podrás disfrutar de una experiencia única y descubrir nuevos sabores.</strong></p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-code-square"></i></div>
                  <h4>Suscripciones mensuales</h4>
                  <p>Al registrarte, podrás acceder a nuestra exclusiva selección de vinos y comprarlos con descuentos exclusivos. Ademas recibirá un catalogo de selección de vinos por e-mail.</p>
               </div>
            </div>
         </div>
      </div>
      <div id="tiendada" class="container py-5">
 </div>
    <div class="mainbox">
        <a class="volver" routerLink=""><img class="d-flex d-md-flex CENTRADO" src="../../../../assets/img/brandLogo2.png" width="300"></a>
      <div class="msg"><p> <a href="/"></a> </p></div>
        </div>